.experience {
    /* Justify experience text */
    text-align: justify;
    white-space: pre-line;
    @media (max-width: 768px) {
        font-size: 14px;
        hyphens: auto;
        text-align: left;
    }
}

.item-content {
    /* Set the font settings for item content */
    font-size: 30px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: var(--color1);
    @media (max-width: 768px) {
        font-size: 17px;
        text-align: left;
    }
}

.item-section {
    /* Make the section have a certain width and space between elements */
    display: flex;
    align-items: start;
    gap: 20px;
    width: 100%;
    @media (max-width: 768px) {
        gap: 5px;
    }
}

.location {
    /* Change location font */
    font-size: 15px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: var(--color3);
    font-family: 'Courier New', Courier, monospace;
    @media (max-width: 768px) {
        font-size: 10px;
        width: 100%;
    }
}

.dates {
    /* Change location font */
    font-size: 15px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: var(--color3);
    font-family: 'Courier New', Courier, monospace;
    @media (max-width: 768px) {
        font-size: 10px;
        width: 45px;
    }
}

.logo {
    border: 2px solid #405aa4;
    aspect-ratio: 1 / 1;
    width: 100px;
    @media (max-width: 768px) {
        width: 40px;
    }
}

.custom-progress-bar {
    /* Set the font settings and set a certain length for the progress bar */
    font-size: 25px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    @media (max-width: 768px) {
        width: 70%;
    }
}

.section-name {
    /* Set section name font and decorations */
    font-size: 35px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    text-decoration: underline;
    text-decoration-color: var(--color3);
    color: var(--color1);
    text-align: center;
}

.chip-link {
    display: inline-block;
    margin-bottom: 10px;
}