:root {
    --color1: #000000;
    --color2: #13274d;
    --color3: #405aa4;
    --color4: #7a95ff;
    --color5: #c1d4ff;
}

.color1 {
    color: var(--color1);
}

.color2 {
    color: var(--color2);
}

.color3 {
    color: var(--color3);
}

.color4 {
    color: var(--color4);
}

.color5 {
    color: var(--color5);
}

.toolbar {
    background-color: var(--color2);
    display: flex;
    justify-content: center;
}

.tab-link{
    color: var(--color5) !important;
    min-width: 120px;
}

.tab-link:hover {
    color: var(--color5);
}