.fab-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: var(--color2);
    color: white;
}

.fab-to-top:hover {
    background-color: white;
    color: var(--color2);
}